{% extends 'base.html' %}

{% block content %}
  <h1>Blog Posts</h1>
  <ul>
    {% for post in post_list %}
      <li>
        <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        <p>{{ post.content|truncatewords:10 }}</p>
        <p>Author: {{ post.author }}</p>
        <p>Published: {{ post.published_date }}</p>
      </li>
    {% empty %}
      <p>No posts available.</p>
    {% endfor %}
  </ul>
  <p><a href="{% url 'post_create' %}">Create a new post</a></p>
{% endblock %}
